fastapi==0.129.0
uvicorn==0.41.0
streamlit==1.54.0
sqlalchemy==2.0.46
asyncpg==0.31.0
psycopg2-binary==2.9.11
pgvector==0.4.2
pypdf==6.7.0
python-docx==1.1.2
openpyxl==3.1.5
python-pptx==1.0.2
sentence-transformers==5.2.2
torch==2.10.0
langchain==1.2.10
langchain-core==1.2.13
langchain-community==0.4.1
langchain-openai==1.1.9
langchain-google-genai==4.2.0
langchain-text-splitters==1.1.0
python-dotenv==1.2.1
pydantic==2.12.5
pydantic-settings==2.13.0
requests==2.32.5
pandas==2.3.3
PyJWT==2.10.1
passlib==1.7.4
bcrypt==4.2.1
email-validator==2.2.0
extra-streamlit-components==0.1.71